.principal {
  background: #ccc;
  padding: 20px;
}
h1 {
  text-align: center;
}
p {
  text-align: center;
}
i b {
  color: red;
}
#mision {
  font-size: 20px;
}
#banner {
  width: 100%;
}
.items {
  font-style: italic;
}
.diferenciales {
  background: #fff;
  padding: 30px;
}
h2 {
  text-align: center;
}
ul {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
}
.diferencialesimg {
  width: 50%;
}
